.home{
    /* margin-top: 100px; */
    margin: 0 40px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: white; */
}

.hi-icon{
    animation: App-logo-spin infinite 20s linear;
    /* color: red; */
    /* background-color: aqua; */
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(180deg); }
} 

.home h2{
    width: 520px;
}


.home h1{
    color: rgb(231, 96, 33);
}

.home img{
    margin-top: 40px;
    animation:myMove 3s infinite ease alternate
}

@keyframes myMove{
    from{
        transform: translateY(-15px);
    }
    to{
        transform:translateY(0) scale(1.03)
    }
}

.home-buttons .btn-hire{
    background-color: #3b8ff3;
    color: white;
    width: 160px;
    margin-right: 30px;
    transition: .2s ease-in-out 0s;
}

.home-buttons .btn-hire:hover{
    /* background-color: white;
    color: #3b8ff3; */
    transform: scale(1.20);
}

.home-buttons .btn-cv{
    background-color: rgb(231, 96, 33);
    color: white;
    width: 160px;
}

.home-buttons .btn-cv:hover{
    /* background-color: white; */
    /* color: #3b8ff3; */
    transform: scale(1.20);
}